<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container" style="background-color:#616161">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <form action="/store" method="post">
            <div class="jumbotron" style="background-color:#E0E0E0">
                <h2 style="text-align: center;">Update trips and destination!</h2>
            </div>  
            
            <div class="jumbotron" style="background-color:#E0E0E0">
                <strong>Add a trip/destination</strong>
                <br>
                <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-text">Trip name:</span>
                            <input type="text" aria-label="Convert from:" id="from" name="from" class="form-control" placeholder="Trip name" required
                                autofocus>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Destination:</span>
                            <input type="text" aria-label="Convert to:" id="to" name="to" class="form-control" placeholder="Destination" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Start date:</span>
                            <input type="text" aria-label="Amount:" id="start" name="start" class="form-control" placeholder="Start date" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">End date:</span>
                            <input type="text" aria-label="Amount:" id="end" name="end" class="form-control" placeholder="End date" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text">Transportation method:</span>
                            <input type="text" aria-label="Amount:" id="trans" name="trans" class="form-control" placeholder="Transportation" required
                            autofocus>                  
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
                            <% if (locals.converted) { %>
                                <span class="input-group-text" style="background-color:white">
                                    <%= converted %>
                                </span>
                            <% } %>
                        </div>
                    
                </div>
            </div>
    
            <div class="jumbotron" style="background-color:#E0E0E0">
            <strong>Edit/delete a trip/destination</strong>
            <br>
            <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-text">Trip name:</span>
                        <input type="text" aria-label="Convert from:" id="from" name="from" class="form-control" placeholder="Trip name" required
                            autofocus>
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Destination:</span>
                        <input type="text" aria-label="Convert to:" id="to" name="to" class="form-control" placeholder="Destination" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Start date:</span>
                        <input type="text" aria-label="Amount:" id="start" name="start" class="form-control" placeholder="Start date" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">End date:</span>
                        <input type="text" aria-label="Amount:" id="end" name="end" class="form-control" placeholder="End date" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-text">Transportation method:</span>
                        <input type="text" aria-label="Amount:" id="trans" name="trans" class="form-control" placeholder="Transportation" required
                        autofocus>                  
                    </div>
                    <br>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
                        <% if (locals.converted) { %>
                            <span class="input-group-text" style="background-color:white">
                                <%= converted %>
                            </span>
                        <% } %>
                        <button type="submit" class="btn btn-primary btn-rounded">Delete</button>
                    </div>
                
            </div>
        </div>
    
        </form>
    </main>
<!--JS Part-->

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>